<%
transcribe
 src/generator/nodes.js
 src/generator/H1.js
 src/generator/M1.js
 src/generator/H2.js
 src/generator/generator.js 
 src/generator/tree.js 
 src/generator/strings.js 
 src/generator/tree_viewer.js 
 src/generator/module_ending.js 
%>