<%
transcribe
 src/generator/nodes.js
 src/generator/SpaceTree.js 
 src/generator/M1.js
 src/generator/H1.js
 src/generator/O1.js
 src/generator/tree.js
 src/generator/generator.js 
 src/generator/strings.js 
 src/generator/tree_viewer.js 

%>
